/dev/nvrm		0666	root	root
/dev/knvrm		0660	root	system
/dev/nvrpc		0666	root	root
/dev/knvmap		0660	system	system
/dev/nvmap		0666	system	system
/dev/nvos		0666	root	root
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-dsi		0666	root	root
/dev/nvhost-isp		0666	root	root
/dev/nvhost-mpe		0666	root	root
/dev/nvhost-vi		0666	root	root
/dev/tegra_avp		0666	media	media
/dev/tegra_dc_0		0666	root	root
/dev/tegra_dc_1		0666	root	root
/dev/tegra_dc_ctr	0666	root	root
/dev/tegra_rpc		0666	media	media
/dev/tegra_sema		0666	media	media
/dev/tegra_mediaserver	0660	media	media
/dev/imx072		0666	media	camera
/dev/imx072_eeprom 	0666	media	camera
/dev/s5k5bafx		0666	media	camera
/dev/dw9716		0666	media	camera
/dev/tegra_camera	0666	media	camera
/dev/spdif*		0660	system	audio
/dev/mpu		0644	system	system
/dev/nvhdcp0		0660	system	system
/dev/nvhdcp1		0660	system	system
/dev/block/mmcblk0p3	0600	system	system
/dev/block/mmcblk0p7	0660	system	system
/dev/block/mmcblk0p8	0660	system	system
/dev/tegra-crypto       0666    system  system
/dev/device-mapper      0660    system  system
/dev/pts*		0660	radio	radio
/dev/ttyspi*		0660	root	radio
#bluetooth
/dev/ttyHS2		0660	bluetooth	bluetooth
/dev/rfkill		0660	root	wifi
